*,
*::before,
*::after {
	box-sizing: border-box;
}

body{
	font-family: "Geologica", sans-serif;
	background-color: #eee;
}
div{
	/*outline: solid red 1px;*/
	margin: 0px auto;
}
.test{
	height: 1000px;
}
.container-fluid{
	width: 100%;
}
.container{
	max-width: 1366px;
	margin: 0 auto;
}
nav{
	max-width: 1366px;
	margin: 0px auto;
}
#nav-container{
	width: 100%;
	background-color: #82d0d2;
	position: sticky;
	top: 0px;
	z-index: 100;
	box-shadow: 
	rgba(225, 183, 142, 0.4) 0px 5px, 
	rgba(225, 183, 142, 0.3) 0px 10px, 
	rgba(225, 183, 142, 0.2) 0px 15px, 
	rgba(225, 183, 142, 0.1) 0px 20px, 
	rgba(225, 183, 142, 0.05) 0px 25px;
}
#navTable, tr, td{
	/*outline: solid red 1px;*/
	padding: 10px 20px;
}
#navTable{
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
	table-layout: fixed;
	img{
		width: 285px;
		height: auto;
		max-widht: 100%;
	}
}
.mobile-hide{
	display: none;
}
#hamburgerCell{
	display: table-cell;
	text-align: right;
	padding-right: 20px;
}
button{ 
	margin-top: 15px; 
	padding: 10px 20px; 
	background: #82d0d2;
	color: white; border: none; 
	font-weight: bold;
	cursor: pointer; 
	border-radius: 25px;
}
button:hover { 
	background: #2ea6ba; 
}
#hamburgerBtn{
	display: inline-block;
	border: none;
	background-color: transparent;
}
a{
	color: #fff;
	text-decoration: none;
	font-weight: 400;
}
a:hover{
	color: #2ea6ba;
}
#mobileMenu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
}
#mobileMenu a {
	color: #2ea6ba;
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
}
#mobileMenu a:last-child {
    border-bottom: none;
}
h1, h2, h3{
	color: #543134;
}
h1, h2, h3{
	color: #543134;
}
footer{
	border-top: 2px solid #82d0d2;
	text-align: center;
	width: 100%;
	margin: 0px auto;
	font-weight: 200;
	padding-bottom: 5px;
	background-color: #fff;
}


/*-----------INDEX PAGE CSS-----------*/
#banner{
	display: none;
}
#intro{
	margin-top: 75px;
	margin-bottom: 50px;
	text-align: center;
	padding: 0px 50px;
	p{
		max-width: 600px;
		margin: 0 auto;
		width: 100%;
	}
}
#galaxy-container, #mission-container{
	display: flex;
	max-width: 1366px;
	justify-content: center;
	align-items: center;
}
#galaxy-container{
	flex-direction: column;
}
#mission-container{
	flex-direction: column-reverse;
}
#galaxy-img, #mission-img{
	img{
		width: 400px;
		height: auto;
	}
}
#galaxy-img, #mission-img{
	padding: 0px 50px 0px 50px;
}
#galaxy-text, #mission-text{
	padding: 0px 50px 100px 50px;
}
/*------------------------------------*/


/*-----------MENU PAGE CSS------------*/
#menu{
	table{
		text-align: center;
		table-layout: fixed;
		width: 1280px;
		margin: 0 auto;
		border-collapse: collapse;
		img{
			padding-top: 20px;
			width: 200px;
			height: auto;
		}
		p{
			padding-bottom: 20px;
			font-weight: 400;
			color: #e1b78e;
		}
	}
}
tr.menuDivider td{
	border-top: solid 2px #82d0d2;
}
/*------------------------------------*/


/*---------LOCATIONS PAGE CSS---------*/
#locations{
	table{
		margin: 0 auto;
		border-collapse: collapse;
		border-top: solid 2px #82d0d2;
		img{
			/*padding-top: 20px;*/
			width: 740px;
			height: auto;
		}
		iframe{
			padding: 20px;
		}
	}
}
/*------------------------------------*/



/*----------CAREERS PAGE CSS----------*/
#careers{
	table{
		padding-top: 40px;
		margin: 0 auto;
		table-layout: fixed;
		width: 1280px;
	}
}
#formContainer{
	padding-left: 40px;
}
fieldset{ 
	border: 1px solid #ccc; 
	padding: 15px; 
	margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
label{ 
	display: block; 
	font-weight: bold;
	padding: 25px 0px 10px 0px;
	color: #543134;
}
output { 
	display: inline-block; 
	margin-top: 15px; 
	padding: 10px; 
	border: 1px solid #ccc; 
}
/*------------------------------------*/



/* Media Queries
----------------------------------- */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

	#banner{
		height: 500px;
		background:
		linear-gradient(rgba(0, 0, 0, 0) 35%, rgba(130, 208, 210, 1)),
	    url("../_images/MW-BannerImage.jpg") 
	    no-repeat fixed center center/ cover;
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 600px;
			height: auto;
			/*filter: drop-shadow(0px 35px 100px #ccc);*/
		}
	}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	
	#navLinks{
		margin-left: auto;
		margin-right: 0;
	}
	#hamburgerCell{
		display: none;
	}
	.mobile-hide{
		display: block;
	}
	#intro{
		margin-top: 100px;
	}
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	#galaxy-container, #mission-container{
		display: flex;
		flex-direction: row;
		max-width: 1366px;
		justify-content: center;
		align-items: center;
	}
	#galaxy-img, #mission-img{
		img{
			width: 400px;
			height: auto;
		}
	}
	#galaxy-img{
		padding: 50px 50px 0px 150px;
	}
	#mission-img{
		padding: 0px 150px 50px 50px;
	}
	#galaxy-text{
		padding: 0px 150px 0px 50px;
	}
	#mission-text{
		padding: 50px 50px 50px 150px;
	}

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}